@import "~bootstrap/scss/bootstrap";
@font-face {
  font-family: myFirstFont;

}
* {
  &, &:before, &:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

html {
    font-family: Arial, sans-serif;

  .product_special_price{
    color:red;
  }
  }




  .product-image {
    max-height: 200px;
    object-fit: contain;
  }
.container {
  margin-top: 100px;
}
.footer .container{
  margin-bottom: 30px;
  //border-top: 3px solid black;
}
#border  {
  border-top: 1px solid black;
  left:0px;
}

.orderForm{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.description{
  font-size: 20px;
}

.productImg {
  width: 120px;
  height: auto;
}

.cartHeader{
  font-size: 20px;
}

.details{
  cursor: pointer;
  outline: none;
  background-color: #4CAF50;
  color: black;

}

.details:hover {background-color: #3e8e41}
.details:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.addToCart{
  cursor: pointer;
  outline: none;
  background-color: #4CAF50;
  color: #fff;
}
.addToCart:hover {background-color: #3e8e41}

.addToCart:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.prodInCartAmount{
  margin-left: 5px;
  color: white;
}

.deleteButton{
  margin-top: 5px;
}
